{% load staticfiles %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Change Targets | Django site admin</title>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css"%}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css"%}" />
    <script type="text/javascript" src="{% static "admin/jsi18n/"%}"></script>
<script type="text/javascript" src="{% static "admin/js/core.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js"%}""></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/urlify.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/prepopulate.js"%}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.min.js"%}"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-simplefeed model-target change-form"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name">Update Target</h1>
        </div>


        <div id="user-tools">

                Welcome,
                <strong>{{request.user.username}}<a href="/feed/logout">Logout</a></strong>.
        </div>



    </div>
    <!-- END Header -->

<div class="breadcrumbs">
&rsaquo; <a href="/feed/">Targets</a>
&rsaquo; {{ target.url }}
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Change Target</h1>
        <div id="content-main">
  <ul class="object-tools">
  </ul>


<form enctype="multipart/form-data" action="/feed/{{ target.id }}/update/" method="post" id="target_form">{% csrf_token %}
<div>
  <fieldset class="module aligned ">
        <div class="form-row field-url">
                <div>
                        <label class="required" for="id_url">Url:</label>
                            <input class="vTextField" id="id_url" maxlength="200" name="url" type="text" value={{target.url}} required/>
                </div>
        </div>
        <div class="form-row field-category">
                <div>
                        <label class="required" for="id_category">Category:</label>
                            <input class="vTextField" id="id_category" name="category" type="text" maxlength="200" value={{target.category}} required/>
                </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
    <p class="deletelink-box"><a href="/feed/{{ target.id }}/delete/" class="deletelink">Delete</a></p>
</div>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:lookup-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showRelatedObjectLookupPopup(this);
                    }
                });
            });
        })(django.jQuery);
    </script>
<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>
</div>
</form></div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
